<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<nav>
    <ul>
        <li><a href="/" title="Karlin">Karlin</a></li>
        <li><a href="../Ray" title="Ray">Ray</a></li>
        <li><a href="../Marry" title="Marry">Marry</a></li>
        <li><a href="../Jayson" title="Jayson">Jayson</a></li>
        <li><a href="../Thomas" title="Thomas">Thomas</a></li>
        <li><a href="../Danny" title="Danny">Danny</a></li>
    </ul>
</nav>
</body>
</html>