<%- include Dependancies/Header.ejs %>
<h1>Hello, my name is Danny.</h1>
<p>I am Karlin's brother (older by about 3 1/2 yrs), I'm currently attending King's college in London Ontario.
    I worked at Best Buy for a long time, until i started specifically dealing with phones by working for verizon wireless.</p>
</body>
</html>