<%- include Dependancies/Header.ejs %>

    <h1>Hello, my name is Karlin.</h1>
    <p>I  come  from a fairly large family, so i decided not to go into too much detail.
       I am the youngest child of 5 brothers (3 on my mothers side, 2 on my fathers),
       and i decided on going to college in barrie to get away from home for a bit.</p>
</body>
</html>
