<%- include Dependancies/Header.ejs %>

<h1>Hello, my name is Ray.</h1>
<p>I am 65 years old, and i used to manage an Imperial Tobacco plant.
    Since retiring, i  travel a lot (usually in the winter) and i have been all around the world.</p>
</body>
</html>