<%- include Dependancies/Header.ejs %>
<h1>Hello, my name is Thomas.</h1>
<p>I am karlin's brother (older by about 5 yrs), I currently work for Petsmart and am an ex US Marine.
    I am engaged and will be married before the year ends.</p>
</body>
</html>